body {
    background-image: radial-gradient(#497C44 0.8px, #F6EDD9 0.8px);
    background-size: 18px 18px;
    text-align: center;
    font-family: 'Patrick Hand', cursive;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

textarea {
    color: #F6EDD9;
    border-radius: 10px;
    font-family: 'Tilt Neon', cursive;
    font-size: 19px;
    background: url(./chalkboard.svg);
    background-size: cover;
    padding: 50px;
}

textarea::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    display: none;
    box-shadow: 1px 3px 5px rgba(63, 94, 251, 1);
}

h1 {
    color: #0081AD;
    font-size: 40px;
}

button {
    border-radius: 50px;
    font-family: 'Patrick Hand', cursive;
    background: linear-gradient(90deg, #00B3D7, #007EA1);
    padding: 10px 20px;
    border: none;
    box-shadow: 1px 3px 5px #3E4A3C;
    font-size: 25px;
    color: #DDF8D7;
}

footer {
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: url(./dandelion.png);
    background-size: contain;
    height: 50px;
}
footer span{
background-color: #007ea165;
color: white;
position: fixed;
right: 0;
bottom: 0;
padding: 0 5px;
font-size: 14px;
}